{% extends 'base.html' %}

{% block content %}

<div class="container py-5">

<h2 class="text-center mb-4">Customer Feedback</h2>

<div class="row justify-content-center">

<div class="col-md-6">

<form>

<div class="mb-3">

<label class="form-label">Your Feedback</label>

<textarea id="message" class="form-control" rows="5"></textarea>

</div>

<p>Characters : <span id="count">0</span></p>

<button class="btn btn-primary">Submit</button>

</form>

</div>
</div>
</div>

<script>

let textarea = document.getElementById("message");
let count = document.getElementById("count");

textarea.addEventListener("keyup", function(){

count.textContent = textarea.value.length;

});

</script>

{% endblock %}